<h2>Editting Book</h2>
<article>
  <% if @book.errors.any? %>
    <div class="message-box error">
      Could not save due to <%= @book.errors.count %> errors.
    </div>
  <% end %>
  <%= form_with model: @book, class: "post-form" do |f| %>
    <fieldset>
      <label>Title</label>
        <% if @book.errors[:title].any? %>
          <span class="errors">
            <% @book.errors[:title].each do |message| %>
              <span class="message"><%= message %></span>
            <% end %>
          </span>
        <% end %>
      <%= f.text_field :title %>
    </fieldset>

    <fieldset>
      <label>Body</label>
        <% if @book.errors[:body].any? %>
          <span class="errors">
            <% @book.errors[:body].each do |message| %>
              <span class="message"><%= message %></span>
            <% end %>
          </span>
        <% end %>
      <%= f.text_area :body %>
    </fieldset>

    <div>
      <%= f.submit "Update Book" %>
    </div>
  <% end %>
</article>

<div class="actions">
  <%= link_to "Show", book_path(@book.id) %> | <%= link_to "Back", books_path %>
</div>
